* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-size: 10px;
    font-family: 'Smythe', cursive;
    font-weight: 400;
}

/* Colors */

:root {
    --white: #FFFFFF;
    --black: #000000;
    --blackE: #0E0E0E;
    --gray: #8B8B8B;
    --grayB: #BBBBBB;
    --gray75: #757575;
    --lineColor: #D2D2D2;
    --lineColor2: #393333;
    --btnBg: #16DB99;
    --messageBg:  #ECFDF5;
    --messageColor: #065F46;
}

/* Colors */

/* General Classes */

.flex { display: flex; }


/* General Classes */




/* ******** */
body {
    display: flex;
    justify-content: center;
    background-color: var(--lineColor);
}

.container { max-width: 600px; }

header img {
    width: 100%;
    position: relative;
}

/* Menu */
.menu {
    flex-direction: column;
    gap: 45px;
    width: 100%;
    padding-left: 46px;
    padding-right: 46px;
    margin-top: 48px;
}

.pizza,
.burger,
.beer {
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5em;
    border-bottom: 1px solid var(--lineColor);
}

.info {
    gap: 30px;
    align-items: center;
}

.food-info { flex-direction: column; }

.food-name {
    font-size: 2.8rem;
    margin-bottom: 0.28em;
    color: var(--black);
}

.ingredients {
    font-size: 1.6rem;
    margin-bottom: 0.5em;
    color: var(--gray);
}

.food-price {
    font-size: 2rem;
    color: var(--black);
}

.add-btn img { cursor: pointer; }




/* Order */


.order {
    margin-top: 4.5em;
    margin-bottom: 4.5em;
    padding-left: 4.6em;
    padding-right: 5em;
    text-align: center;
}

.order-food {
    flex-direction: column;
    gap: 24px;
    padding-bottom: 3em;
    border-bottom: 2px solid var(--lineColor2);
    margin-bottom: 1.5em;
    display: none;
}

.order-title {
    font-size: 2.8rem;
    margin-bottom: 2.28em;
    color: var(--black);
    display: none;
}

.order-pizza,
.order-burger,
.order-beer {
    align-items: center;
    justify-content: space-between;
    display: none;
}

.order-name {
    font-size: 2.8rem;
    color: var(--black);
}

.remove-pizza,
.remove-burger,
.remove-beer {
    font-size: 1.2rem;
    color: var(--grayB);
    cursor: pointer;
}

.remove-pizza,
.remove-burger,
.remove-beer,
.complete,
.card-title,
input,
.pay-btn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.order-price {
    font-size: 2rem;
    color: var(--black);
}

.name {
    align-items: center;
    gap: 13px;
}


/* Total */

.total {
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5em;
    display: none;
}

.total-title {
    font-size: 2.8rem;
    color: var(--blackE);
}

.total-price {
    font-size: 2rem;
    color: var(--blackE);
}

.complete {
    border: none;
    background: var(--btnBg);
    width: 100%;
    padding-top: 18px;
    padding-bottom: 18px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    cursor: pointer;
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 700;
    display: none;
}




/* Card details */


.card {
    padding: 4.7em 2.4em 3em 2.4em;
    border-radius: 3.89px;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 524px;
    position: fixed;
    margin-top: 110px;
    background: var(--white);
    z-index: 1;
    box-shadow: -5px -5px 1000px;
    display: none;
}

.card-title {
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--black);
    padding-bottom: 1.92em;
    margin: 0 auto;
}

input {
    width: 100%;
    font-size: 2rem;
    line-height: 32px;
    color: var(--gray75);
    padding: 0.8em 0 0.8em 2.5em;
    outline: none;
    border-radius: 3.89px;
    border: 1.297px solid var(--gray75);
    margin-bottom: 1.15em;
}

.pay-btn {
    width: 100%;
    font-size: 2rem;
    font-weight: 700;
    color: var(--white);
    line-height: 31.119px;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    margin-top: 1.15em;
    outline: none;
    border-radius: 3.89px;
    background: var(--btnBg);
    border: none;
    cursor: pointer;
}

.close-btn {
    width: 32px;
    height: 32px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}



/* Recieve Message */

.message {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    border-radius: 3px;
    background: var(--messageBg);
    margin-top: 4.8em;
    display: none;
}

.recieved {
    color: var(--messageColor);
    font-size: 3.2rem;
    display: none;
}





/* Media */

@media(min-width: 600px) {

    .card { margin-top: 292px; }
}




