* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-size: 10px;
    font-family: 'Smythe', cursive;
    font-weight: 400;
}

/* Colors */

:root {
    --white: #FFFFFF;
    --black: #000000;
    --blackE: #0E0E0E;
    --gray: #8B8B8B;
    --grayB: #BBBBBB;
    --lineColor: #D2D2D2;
    --lineColor2: #393333;
    --btnBg: #16DB99;
}

/* Colors */

/* General Classes */

.flex { display: flex; }


/* General Classes */




/* ******** */
body {
    display: flex;
    justify-content: center;
}

.container { max-width: 600px; }

header img {
    width: 100%;
    position: relative;
}

.menu {
    flex-direction: column;
    gap: 45px;
    width: 100%;
    padding-left: 46px;
    padding-right: 46px;
    margin-top: 48px;
}

.pizza,
.burger,
.beer {
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5em;
    border-bottom: 1px solid var(--lineColor);
}

.info {
    gap: 30px;
    align-items: center;
}

.food-info { flex-direction: column; }

.food-name {
    font-size: 2.8rem;
    margin-bottom: 0.28em;
    color: var(--black);
}

.ingredients {
    font-size: 1.6rem;
    margin-bottom: 0.5em;
    color: var(--gray);
}

.food-price {
    font-size: 2rem;
    color: var(--black);
}

.add-btn img {
    cursor: pointer;
}




/* Order */


.order {
    margin-top: 4.5em;
    margin-bottom: 4.5em;
    padding-left: 4.6em;
    padding-right: 5em;
    text-align: center;
    display: none;
}

.order-food {
    flex-direction: column;
    gap: 24px;
    padding-bottom: 3em;
    border-bottom: 2px solid var(--lineColor2);
    margin-bottom: 1.5em;
}

.order-title {
    font-size: 2.8rem;
    margin-bottom: 2.28em;
    color: var(--black);
}

.order-pizza,
.order-burger,
.order-beer {
    align-items: center;
    justify-content: space-between;
}

.order-name {
    font-size: 2.8rem;
    color: var(--black);
}

.remove-pizza,
.remove-burger,
.remove-beer {
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--grayB);
    cursor: pointer;
}

.order-price {
    font-size: 2rem;
    color: var(--black);
}

.name {
    align-items: center;
    gap: 13px;
}


/* Total */

.total {
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5em;
}

.total-title {
    font-size: 2.8rem;
    color: var(--blackE);
}

.total-price {
    font-size: 2rem;
    color: var(--blackE);
}

.complete {
    border: none;
    background: var(--btnBg);
    width: 100%;
    padding-top: 18px;
    padding-bottom: 18px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    cursor: pointer;
    color: var(--white);
    font-size: 1.6rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
}



